.container {
  max-width: 800px;
}

.header, .main {
  margin: 20px auto;
}

.header h3, p {
  display: inline;
}

#btn-forward {
  float: right;
}

.main ul {
  list-style-type: none;
}

.main li {
  margin: 10px auto;
}

#numberInput, #dateInput {
  width: 25%;
}

.questions{
}

.main ol form {
  padding-left: 25px;
}
