body{
  background: #f5f5f5;
}

.container {
  max-width: 800px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
  background: #fff;
}

.header, .main {
  margin: 20px auto;
}

.header h3, p {
  display: inline;
}

#btn-forward {
  float: right;
}

.main ul {
  list-style-type: none;
}

.main li {
  margin: 10px auto;
}

#numberInput, #dateInput {
  width: 25%;
}

.questions{
}

.main ol form {
  padding-left: 25px;
}
